img#coin {
	width: 250px;
	height: 250px;
}
select#chooseCoin {
	width: 117px;
	height: 18px;
}
/*Will only center horizontally and vertically if width and hiehgt are defined*/
.centered {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
